/* label {
    display: inline-block;
    float: left;
    text-align: left;
    width: 200px;
    clear: left;
    padding: 5px;
}

input {
    float: left;
} */

.registration-form label {
    display: inline-block;
    float: left;
    text-align: left;
    width: 200px;
    clear: left;
    padding: 5px;
}

.registration-form input {
    float: left;
}

.registration-form button {
    border: none;
    color: green;
}